flows/nodered/demo-control-flow.json
[
  {
    "id": "tab_demo_control_b2c",
    "type": "tab",
    "label": "OncoVax Demo Control (B2c)",
    "disabled": false,
    "info": "Optional dev/demo-only orchestration flow. Ingestion authority remains MQTT -> worker."
  },
  {
    "id": "mqtt_broker_demo_control",
    "type": "mqtt-broker",
    "name": "mosquitto-dev",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "in_scenario_select",
    "type": "mqtt in",
    "z": "tab_demo_control_b2c",
    "name": "control/scenario/select",
    "topic": "oncovax/demo/control/scenario/select",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "mqtt_broker_demo_control",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 120,
    "wires": [["fn_validate_scenario"]]
  },
  {
    "id": "in_mode_set",
    "type": "mqtt in",
    "z": "tab_demo_control_b2c",
    "name": "control/mode/set",
    "topic": "oncovax/demo/control/mode/set",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "mqtt_broker_demo_control",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 220,
    "wires": [["fn_validate_mode"]]
  },
  {
    "id": "in_event_trigger",
    "type": "mqtt in",
    "z": "tab_demo_control_b2c",
    "name": "control/event/trigger",
    "topic": "oncovax/demo/control/event/trigger",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "mqtt_broker_demo_control",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 320,
    "wires": [["fn_validate_event"]]
  },
  {
    "id": "fn_validate_scenario",
    "type": "function",
    "z": "tab_demo_control_b2c",
    "name": "validate scenario/select",
    "func": "const now = new Date().toISOString();\n\nfunction normalizePayload(payload) {\n  if (Buffer.isBuffer(payload)) {\n    payload = payload.toString('utf8');\n  }\n  if (typeof payload === 'string') {\n    return JSON.parse(payload);\n  }\n  if (payload && typeof payload === 'object') {\n    return payload;\n  }\n  throw new Error('payload must be JSON object or JSON string');\n}\n\nlet body;\ntry {\n  body = normalizePayload(msg.payload);\n} catch (err) {\n  const rejected = {\n    topic: 'oncovax/demo/orchestration/status',\n    payload: {\n      contract_version: '1.0',\n      status: 'rejected',\n      source_topic: msg.topic,\n      command_type: 'scenario/select',\n      reason: err.message,\n      received_at: now\n    }\n  };\n  return [null, rejected];\n}\n\nconst required = ['command_id', 'issued_at', 'scenario'];\nconst missing = required.filter((key) => body[key] === undefined || body[key] === null || body[key] === '');\nif (missing.length > 0) {\n  return [null, {\n    topic: 'oncovax/demo/orchestration/status',\n    payload: {\n      contract_version: '1.0',\n      status: 'rejected',\n      source_topic: msg.topic,\n      command_type: 'scenario/select',\n      reason: `missing fields: ${missing.join(', ')}`,\n      received_at: now,\n      command_id: body.command_id || null\n    }\n  }];\n}\n\nconst accepted = {\n  topic: 'oncovax/demo/orchestration/status',\n  payload: {\n    contract_version: '1.0',\n    status: 'accepted',\n    source_topic: msg.topic,\n    command_type: 'scenario/select',\n    command_id: body.command_id,\n    issued_at: body.issued_at,\n    scenario: body.scenario,\n    received_at: now\n  }\n};\nreturn [accepted, null];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 120,
    "wires": [["out_orchestration_status", "debug_accepted"], ["out_orchestration_status", "debug_rejected"]]
  },
  {
    "id": "fn_validate_mode",
    "type": "function",
    "z": "tab_demo_control_b2c",
    "name": "validate mode/set",
    "func": "const now = new Date().toISOString();\n\nfunction normalizePayload(payload) {\n  if (Buffer.isBuffer(payload)) {\n    payload = payload.toString('utf8');\n  }\n  if (typeof payload === 'string') {\n    return JSON.parse(payload);\n  }\n  if (payload && typeof payload === 'object') {\n    return payload;\n  }\n  throw new Error('payload must be JSON object or JSON string');\n}\n\nlet body;\ntry {\n  body = normalizePayload(msg.payload);\n} catch (err) {\n  return [null, {\n    topic: 'oncovax/demo/orchestration/status',\n    payload: {\n      contract_version: '1.0',\n      status: 'rejected',\n      source_topic: msg.topic,\n      command_type: 'mode/set',\n      reason: err.message,\n      received_at: now\n    }\n  }];\n}\n\nconst required = ['command_id', 'issued_at', 'mode'];\nconst missing = required.filter((key) => body[key] === undefined || body[key] === null || body[key] === '');\nif (missing.length > 0) {\n  return [null, {\n    topic: 'oncovax/demo/orchestration/status',\n    payload: {\n      contract_version: '1.0',\n      status: 'rejected',\n      source_topic: msg.topic,\n      command_type: 'mode/set',\n      reason: `missing fields: ${missing.join(', ')}`,\n      received_at: now,\n      command_id: body.command_id || null\n    }\n  }];\n}\n\nif (body.enabled !== undefined && typeof body.enabled !== 'boolean') {\n  return [null, {\n    topic: 'oncovax/demo/orchestration/status',\n    payload: {\n      contract_version: '1.0',\n      status: 'rejected',\n      source_topic: msg.topic,\n      command_type: 'mode/set',\n      command_id: body.command_id,\n      reason: 'enabled must be boolean when provided',\n      received_at: now\n    }\n  }];\n}\n\nreturn [{\n  topic: 'oncovax/demo/orchestration/status',\n  payload: {\n    contract_version: '1.0',\n    status: 'accepted',\n    source_topic: msg.topic,\n    command_type: 'mode/set',\n    command_id: body.command_id,\n    issued_at: body.issued_at,\n    mode: body.mode,\n    enabled: body.enabled,\n    profile: body.profile,\n    received_at: now\n  }\n}, null];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 220,
    "wires": [["out_orchestration_status", "debug_accepted"], ["out_orchestration_status", "debug_rejected"]]
  },
  {
    "id": "fn_validate_event",
    "type": "function",
    "z": "tab_demo_control_b2c",
    "name": "validate event/trigger",
    "func": "const now = new Date().toISOString();\n\nfunction normalizePayload(payload) {\n  if (Buffer.isBuffer(payload)) {\n    payload = payload.toString('utf8');\n  }\n  if (typeof payload === 'string') {\n    return JSON.parse(payload);\n  }\n  if (payload && typeof payload === 'object') {\n    return payload;\n  }\n  throw new Error('payload must be JSON object or JSON string');\n}\n\nlet body;\ntry {\n  body = normalizePayload(msg.payload);\n} catch (err) {\n  return [null, {\n    topic: 'oncovax/demo/orchestration/status',\n    payload: {\n      contract_version: '1.0',\n      status: 'rejected',\n      source_topic: msg.topic,\n      command_type: 'event/trigger',\n      reason: err.message,\n      received_at: now\n    }\n  }];\n}\n\nconst required = ['command_id', 'issued_at', 'event'];\nconst missing = required.filter((key) => body[key] === undefined || body[key] === null || body[key] === '');\nif (missing.length > 0) {\n  return [null, {\n    topic: 'oncovax/demo/orchestration/status',\n    payload: {\n      contract_version: '1.0',\n      status: 'rejected',\n      source_topic: msg.topic,\n      command_type: 'event/trigger',\n      reason: `missing fields: ${missing.join(', ')}`,\n      received_at: now,\n      command_id: body.command_id || null\n    }\n  }];\n}\n\nreturn [{\n  topic: 'oncovax/demo/orchestration/status',\n  payload: {\n    contract_version: '1.0',\n    status: 'accepted',\n    source_topic: msg.topic,\n    command_type: 'event/trigger',\n    command_id: body.command_id,\n    issued_at: body.issued_at,\n    event: body.event,\n    data: body.data,\n    received_at: now\n  }\n}, null];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 320,
    "wires": [["out_orchestration_status", "debug_accepted"], ["out_orchestration_status", "debug_rejected"]]
  },
  {
    "id": "out_orchestration_status",
    "type": "mqtt out",
    "z": "tab_demo_control_b2c",
    "name": "orchestration/status",
    "topic": "oncovax/demo/orchestration/status",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_demo_control",
    "x": 750,
    "y": 220,
    "wires": []
  },
  {
    "id": "debug_accepted",
    "type": "debug",
    "z": "tab_demo_control_b2c",
    "name": "accepted status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 120,
    "wires": []
  },
  {
    "id": "debug_rejected",
    "type": "debug",
    "z": "tab_demo_control_b2c",
    "name": "rejected status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 320,
    "wires": []
  }
]
